<div>
  <div class="flex bg-[#fff]">
    <p class="text-[#737791] text-[14px]">Category</p>
    <div class="relative overflow-hidden h-[48px] w-[140px]">
      <select name="" id="" class="w-full h-full appearance-none text-[#737791] py-[2px] px-[16px] text-[18px]">
        <option value="Antananarivo">Antananarivo</option> 
        <option value="Hongkong">Hongkong</option>
        <option value="Taipei">Taipei</option>
        <option value="Tokyo">Tokyo</option>
      </select>
      <i class="absolute transform -translate-y-1/2 top-1/2 flex-shrink-0 right-0 ml-[5px]">
        <%- require('svg.ejs')({
          name: 'arrow',
          className:'w-[10px] h-[5px]'
        })%>
      </i>
    </div>
  </div>
  <div class="flex bg-[#fff]">
    <p class="text-[#737791] text-[14px]">Category</p>
    <div class="relative overflow-hidden h-[48px] w-[140px]">
      <select name="" id="" class="w-full h-full appearance-none text-[#737791] py-[2px] px-[16px] text-[18px]">
        <option value="Antananarivo">Antananarivo</option> 
        <option value="Hongkong">Hongkong</option>
        <option value="Taipei">Taipei</option>
        <option value="Tokyo">Tokyo</option>
      </select>
      <i class="absolute transform -translate-y-1/2 top-1/2 flex-shrink-0 right-0 ml-[5px]">
        <%- require('svg.ejs')({
          name: 'arrow',
          className:'w-[10px] h-[5px]'
        })%>
      </i>
    </div>
</div>
</div>